.table-tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	margin-bottom: 1.5rem;
	width: 100%;
}

.table-tools button {
	height: 100%;
}

.table-tools div:nth-child(2) {
	flex: 1 1 50%;
	text-align: right;
}

.table-tools input {
	width: 100%;
	max-width: 450px;
}

@media only screen and (max-width: 480px) {
	.table-tools div {
		flex: 1 1 100%;
	}

	.table-tools input {
		width: 100%;
		max-width: 100%;
	}
}
