.table-tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.table-tools button {
	height: 100%;
}

.table-tools div button:nth-child(2) {
	display: none;
}

.table-tools .query {
	flex-grow: 1;
	min-width: 300px;
	max-width: 450px;
	text-align: right;
}

.table-tools .filters {
	flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-content: flex-end;
}

.table-tools input:not(input[type='checkbox']) {
	width: 100%;
}

.books-stats-table {
	text-align: center;
}

@media only screen and (max-width: 864px) {
	.table-tools .filters {
		height: 40px;
		width: 100%;
		order: 2;
		justify-content: flex-start;
	}
}

@media only screen and (max-width: 480px) {
	.table-tools button {
		padding: 0.5rem 1rem;
	}

	.table-tools div button:nth-child(2) {
		display: flex;
	}

	.table-tools div button:nth-child(1) {
		display: none;
	}
}
