.table-tools {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.75rem 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.book-count {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1rem;
}

.table-tools button {
	height: 100%;
}

.table-tools div button:nth-child(2) {
	display: none;
}

.table-tools .query {
	flex: 1 1 calc(33% - (3rem));
	min-width: 216px;
}

.table-tools .year-filter {
	flex: 1 1 calc(20% - (3rem));
	min-width: 216px;
}

.table-tools input:not(input[type='checkbox']) {
	width: 100%;
}

.table-tools .filters {
	flex-grow: 1;
	display: flex;
	align-items: center;
	gap: 1rem;
	min-height: 40px;
	justify-content: flex-end;
}

.books-stats-table {
	text-align: center;
}

.table-book-category {
	padding: 0;
	position: relative;
	text-decoration: underline;
	transition: none;
}

.table-book-category:active {
	text-decoration: underline dashed var(--primary);
}

.empty-row {
	text-align: center;
	padding: 0.25rem 1rem;
	height: 50px;
}

@media only screen and (max-width: 1200px) {
	.empty-row {
		text-align: initial;
	}
}

@media only screen and (max-width: 784px) {
	.table-tools .year-filter {
		flex-grow: 0;
	}
}

@media only screen and (max-width: 672px) {
	.table-tools .query,
	.table-tools .year-filter {
		flex-basis: 100%;
	}
}

@media only screen and (max-width: 528px) {
	.table-tools > div:first-child {
		flex-grow: 1;
	}

	.table-tools > div:first-child button {
		width: 100%;
	}
}
