@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary: #e25050;
	--secondary: #49569c;
	--font-main: 'Kanit', sans-serif;
	--dark: #16161d;
	--dark-alt: #2b323b;
	--light: #f5f5f5;
	--light-alt: #b3b3b3;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-main);
}

.app-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	width: min(1200px, 95vw);
	padding-top: 2rem;
	padding-bottom: 8rem;
	margin: 0 auto;
}

::placeholder {
	color: var(--light-alt);
	user-select: none;
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
	padding: 0 1rem;
	user-select: none;
}

nav > a {
	padding: 0;
}

nav > a {
	padding: 0;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 2rem;
}

nav ul a {
	font-size: 2rem;
}

a {
	text-decoration: none;
	transition: 0.3s;
	color: var(--light);
	padding: 0rem 0.5rem;
}

nav ul a:hover,
nav ul a.active {
	color: var(--primary);
	border-bottom: solid 0.375rem;
}

body {
	background-color: var(--dark);
	color: var(--light);
	overflow-y: scroll;
}

h1 {
	font-size: 3rem;
}

button {
	padding: 0.5rem 1.75rem;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 6px;
	color: var(--light);
	border: none;
	appearance: none;
	background-image: linear-gradient(
		to right,
		var(--primary) 0%,
		var(--secondary) 51%,
		var(--primary) 100%
	);
	background-size: 200% auto;
	transition: 0.5s;
	user-select: none;
}

button:hover,
button:focus-visible {
	background-position: 99%;
}

/* Override autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
	background-color: var(--dark-alt);
	color: var(--light) !important;
	-webkit-box-shadow: 0 0 0 1000px var(--dark-alt) inset !important;
	-webkit-text-fill-color: var(--light) !important;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	border: solid 2px var(--light-alt);
	background-color: var(--dark-alt);
	color: var(--light);
	border-radius: 6px;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
}

input:focus {
	border: solid 2px var(--light);
	outline: none;
}

.table-container {
	width: 100%;
	overflow-x: auto;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 6px;
}

table {
	text-align: left;
	border-collapse: collapse;
}

thead {
	background-color: var(--secondary);
}

thead tr:hover {
	pointer-events: none;
}

thead tr {
	white-space: nowrap;
	border-bottom: 6px solid var(--dark);
}

tbody tr:hover,
tbody tr:hover td {
	background-color: var(--dark) !important;
	background-image: none;
}

tbody tr {
	background-color: var(--dark-alt);
}

tbody tr.border-bottom {
	border-bottom: 3px solid var(--dark);
}

tbody td.want-to-read {
	background-color: var(--secondary);
}

tbody td.read {
	background-color: #00663c;
}

tbody td.reading {
	background-image: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
}

table .readingMedium,
table .yearRead,
table .status,
table .index {
	text-align: center;
}

table th.index {
	width: 52px;
}
table th.author {
	width: 185px;
}
table th.title {
	width: 314px;
}
table th.category {
	width: 340px;
}
table th.readingMedium {
	width: 92px;
}
table th.yearRead {
	width: 107px;
}
table th.status {
	width: 109px;
}

td,
th {
	padding: 0.5rem 1rem;
}

@media only screen and (max-width: 576px) {
	nav {
		flex-direction: column;
	}

	nav ul {
		justify-content: center;
	}
}
