/* React Select Styles */
.react-select-container {
	--select-height: 40px;
}

.react-select__value-container {
	min-height: var(--select-height) !important;
	padding: 0 !important;
}

.react-select__placeholder {
	/* Placeholder styles */
	margin: 0 !important;
	padding: 8px !important;
	color: var(--light-alt) !important;
}

.react-select__value-container--has-value {
	gap: 6px;
	padding: 7px 10px !important;
}

.react-select__single-value {
	color: var(--light) !important;
	min-height: calc(var(--select-height)) !important;
	margin: 0 !important;
}

.react-select__value-container--has-value .react-select__single-value {
	height: 22px !important;
	min-height: 22px !important;
	display: flex;
	align-items: center;
	padding-top: 0px;
}

.react-select__multi-value {
	/* Styles of a single multi-value element. */
	color: var(--light) !important;
	background-image: linear-gradient(
		to right,
		var(--primary) 0%,
		var(--secondary) 100%
	) !important;
	margin: 0 !important;
	padding: 0px !important;
}

.react-select__multi-value__label {
	font-size: 1rem !important;
	padding: 1px 3px !important;
}

.react-select__indicators {
	min-height: var(--select-height) !important;
}

.react-select__control {
	min-height: var(--select-height) !important;
	font-size: 1rem !important;
	background-color: var(--dark-alt) !important;
	border: none !important;
}

.react-select__control--is-focused {
	/* Background color of input field when focused. */
	background-color: var(--dark-alt) !important;
}

.react-select__menu {
	/* Background color of top and bottom margins of select list. */
	background-color: var(--dark-alt) !important;
}

.react-select__option {
	/* List item styles. */
	font-size: 1rem !important;
	color: var(--light) !important;
}

.react-select__option--is-focused:active {
	/* List item when focused */
	color: var(--light) !important;
	background-color: var(--dark) !important;
}

.react-select__option--is-selected {
	/* List item when selected */
	background-color: var(--dark) !important;
	color: var(--light) !important;
}

.react-select__indicator-separator {
	display: none;
}

/* Search field input styles */
.react-select__input-container {
	margin: 0 !important;
	padding: 0 8px !important;
}
